 body {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
 }

 /* Layout */

 .container {
     display: flex;
     height: 100vh;
 }

 .sidebar {
     flex: 1;
     border-right: 1px solid #ccc;
     padding: 20px;
 }

 .sidebar a {
     text-decoration: none;
     color: black;
     display: block;
     margin-bottom: 15px;
 }

 .content {
     flex: 3;
     padding: 20px;
 }

 /* Form */

 form {
     border: 1px solid #ccc;
     border-radius: 6px;
     padding: 20px;
     background: white;
 }

 section {
     margin-bottom: 25px;
 }

 h1 {
     text-align: center;
     margin-bottom: 20px;
 }

 h2 {
     text-align: center;
     margin-bottom: 15px;
 }

 /* Inputs layout */

 .input-container {
     display: flex;
     gap: 15px;
     margin-bottom: 15px;
 }

 .input-section {
     display: flex;
     flex-direction: column;
     flex: 1;
 }

 /* Labels */

 label {
     font-size: 14px;
     margin-bottom: 5px;
 }

 /* Inputs */

 input,
 select {
     padding: 8px;
     border: 1px solid #bbb;
     border-radius: 4px;
     width: 100%;
     box-sizing: border-box;
 }

 /* Buttons */

 .buttons {
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
 }

 button {
     padding: 8px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

 .cancel {
     background: #ddd;
 }

 .submit {
     background: #0b4cc2;
     color: white;
 }